
*.png
*.meta
Potato/Assets/Editor/Migration/com.ptc.vuforia.engine-10.2.5.tgz
Potato/Assets/Editor/Migration/com.ptc.vuforia.engine-10.2.5.tgz.meta
Potato/Packages/com.ptc.vuforia.engine-10.2.5.tgz
Potato/Assets/Editor/Migration/com.ptc.vuforia.engine-10.2.5.tgz.meta
